BUILD=False
BUILD_TYPE=Release
INSTALL=False
UNINSTALL=True
PLOT=False
TEST_CLASS=MeasureDigestTest
TEST_RUNNER=androidx.test.runner.AndroidJUnitRunner
TEST_PACKAGE=com.example.cryptobenchmark.test
N_TEST_TIMES=2
N_TIMES=100
SLEEP_TIME=1
PROVIDER=AndroidOpenSSL
INPUT_SIZE=1024
KEY_LEN=2048
ALGORITHM=
ALGORITHM_MODE=ECB
PADDING=PKCS1PADDING
KEYSPEC=0